  body {background-color: #222; color: #fff; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
  h5 {margin: 0; font-size: 1.17em; font-weight: 600; }

  .navbar-inverse{background: #111;}
  .container-fluid {
  	padding: 5px;
  }
  .navbar-inverse .navbar-brand {
  color: #efefef;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;  
}
.nav-right{
	margin-right: -5px;
}
  .header .site-title {display: inline;}
  .container {width: inherit; margin-top: 60px;}
  .image-box {height: 225px; background-position: center top; background-repeat: no-repeat;position: relative;margin: 0; background-size:contain;}
  .women-list {
    list-style-type: none;

}
	.women-list a, .women-list a:visited {color: #fff}
	.women-list li {float: left; padding: 0px 0 5px;     
    background: rgba(255, 255, 255, 0.08);
    margin: 5px;
    border: 1px solid rgba(60, 60, 60, 0.51);
}
	.bio {padding: 5px 10px 0; height: 62px;
  overflow-y: scroll;}
	span.field {font-style: italic;}
	.women-list li.hover {background: rgba(255, 255, 255, 0.12); transition: background-color 0.3s ease;  }
	.slide-up {display: none; position: absolute; bottom: 0; font-size: 14px; width: 100%; padding: 10px; margin: 0;
	 transition: display 0.3s ease;
	     width: 100%;
    box-sizing: border-box;
    text-align: center;
	 }
	.women-list li.hover .slide-up {display:block; transition: display 0.7s ease; background: #222;}
	.modal {color: #333;}
	.field-link{text-decoration: underline; cursor:pointer}

	@media (min-width: 992px) {
.col-md-4 {
  width: 30%;
}
}