<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WomanSpamming Wall of Women</title>
  </head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link href="css/main.css" rel="stylesheet">
<body>

  <div class="container-fluid navbar-inverse navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WomanSpamming: Our Awesome Wall of Women</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://docs.google.com/spreadsheets/d/1xLH5V66pBxx404hKcg98B1_axM0GPdnZZo8IUMmBWKU/edit#gid=0">Add More</a></li>
        <li><a data-toggle="modal" data-target="#myModal" target="_blank">About</a></li>
        </li>
        </li>
        <li><a id="all">Show All</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

<div class="container cont-main">
    <div class="row">
        <div id="content" class="span12>"></div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About WomanSpamming</h4>
      </div>
      <div class="modal-body">
        WomanSpamming is a group of commited women who are ready to ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/template" id="womanTemplate">
    <div class="view woman-box"> 
    
   	<a href='<%= wiki %>'><div class="image-box" style="background-image: url(<%= imgUrl %>)"><div class="slide-up"><%= funfact %></div></div>
   	<div class ="bio">
   	<h5><%= name %></h5></a>
      <span class="field">
      <% for(var f in field) { %>
           <a class="field-link" data-filter="<%= field[f] %>" ><%= field[f] %></a>  
       <% } %></span><br />
      <span class="accomplish"><%= accomplishments %></span><br />
      </bio>
    </div>
  </script>  


<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>


  <script src="js/main.js"></script>

	 
	  </body>
</html>