<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>WomanSpamming Wall of Women</title>
  </head>
  <link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<body>
<div class="header"><h3 class="site-tite">WomanSpamming: Our Awesome Wall of Women</h3></div>

<div class="container cont-main">
    <div class="row">
        <div id="content" class="span12>"></div>
    </div>

</div>

  <script type="text/template" id="womanTemplate">
    <div class="view woman-box"> 
    
   	<a href='<%= wiki %>'><div class="image-box" style="background-image: url(<%= imgUrl %>)"><div class="slide-up"><%= funfact %></div></div>
   	<div class ="bio">
   	<h3><%= name %></h3></a>
      <span class="field"><%= field %></span><br />
      <span class="accomplish"><%= accomplishments %></span><br />
      </bio>
    </div>
  </script>  

<script src="lib/jquery-1.7.2.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>


  <script src="js/main.js"></script>

	 
	  </body>
</html>